<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="includes/head.js"></script>
    <title>overview</title>
</head>
<body>
    <div id="left-nav">
        <script type="text/javascript" src="includes/left-nav.js"></script>
    </div>
    <div id="right-nav">
        <script type="text/javascript" src="includes/right-nav.js"></script>
    </div>
    <div id="container" class="transition">
      <header class="header">
        <script type="text/javascript" src="includes/header.js"></script>
      </header>
     <div class="container-fluid">
          <center><img class="img1" src="images/yourlogo.png"></img></center>
     </div> 

       <!-- <div id="container1">
        </div>
    -->
        <div class="row row2">
            <div class="content-col col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="content-box col-md-6 col-sm-6 col-xs-12">a</div>
                <div class="content-box-text col-md-6 col-sm-6 col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</div>
            </div>
            <div class=" content-col col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="content-box col-md-6 col-sm-6 col-xs-12">b</div>
                <div class="content-box-text col-md-6 col-sm-6 col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</div>
            </div>
            <div class="content-col col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="content-box col-md-6 col-sm-6 col-xs-12">c</div>
                <div class="content-box-text col-md-6 col-sm-6 col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</div>
            </div>

        </div>
    
      </div>   
 
    <div class="footer-bottom">
        <script type="text/javascript" src="includes/footer.js"></script>
    </div>

<!--<script>
    var map = new Datamap({
        scope: 'world',
        element: document.getElementById('container1'),
        projection: 'equirectangular',

        fills: {
          defaultFill: '#A6A6A6',
          trnt: '#E64545',
          dest: "#FCB42D",
          orig: "#57B593"
        },
        });
</script>
-->
<script type="text/javascript" src="includes/includeScripts.js"></script>

</body>
</html>